<div class="main-body-panel-header">
  <p class="body-panel-title"><b>SUPPLIES</b></p>
  <p class="body-panel-personal-details">You're bringing: {{reduceUsersSupplies().name.slice(2,20)}}...</p>
</div>
<br>
<div class="main-panel-body">
  <div class="main-body-inputs" ng-repeat="supply in supplyDetails track by $index">
    <form ng-submit="submitSupply(supply, $index)">
      <input type="text" name="supplyName" class="main-input-styles shared-inputs-color" ng-model="supply.name"></input>
      <input type="text" name="supplyType" class="main-input-styles shared-inputs-color" ng-model="supply.type"></input>

      <div class="current-attendees-added">
        <div class="panel-current-users" ng-click="removeSupplier(supplier, supply)" ng-mouseover="mouseOverTrue = true" ng-mouseleave="mouseOverTrue = false" ng-repeat="supplier in supply.suppliers">
            {{mouseOverTrue ? 'X' : supplier.firstName.slice(0,1)+supplier.lastName.slice(0,1)}}
        </div>
        <div class="panel-potential-users" ng-click="editMode = !editMode">+ Supplier</div>
        <div ng-show="editMode">
          <div class="panel-current-users potential-user-to-add" ng-click="addSupplier(attendee, supply)" ng-mouseover="mouseOverTrue = true" ng-mouseleave="mouseOverTrue = false" ng-repeat="attendee in attendees | alreadySupplier: supply.suppliers">
            {{mouseOverTrue ? '+' : attendee.firstName.slice(0,1)+attendee.lastName.slice(0,1)}}
          </div>
        </div>
      </div>
      <input style="display:none;" type="submit" id="submit" value="Y" />
    </form>
    <button class="remove-resource-ride-btn" ng-click="removeSupply(supply, $index);">X</button>
  </div>
</div>
<button class="add-resource-ride-btn shared-inputs-color" ng-click="addNewSupply()">add a supply...</button>
