<!-- We are using switch to swap between the 'no coveys' and 'has coveys' views -->
<div ng-controller="friendsController" ng-switch on="showFriends">
  <div class="row" ng-switch-when="true">
    <div class="cold-md-12 text-center">
      <div class="row">
        <div class="col-md-12">
          <h1>My Friends</h1>
        </div>
      </div>
      <!-- this will need to be done as part of the search bar -->
      <div class="row">
        <div class="col-md-2 col-md-offset-10">
          <form ng-submit="searchUsers(searchString)">
            <input type="text" name="friendSearch" placeholder="...friend to search for" class="none" ng-model="searchString"></input>
            <input type="submit" id="submit" value="Search" />
          </form>
        </div>
      </div>
      <div class-"row" ng-repeat="friend in friends">
        <div class="col-md-12 text-left covey-tile" ng-click="removeFriend(friend.id)">
          <img src="{{ friend.photoUrl }}" class="myfriends-profile-image"/>
          <h4>{{ friend.firstName }}</h4>
          <h4>{{ friend.lastName }}</h4>
          <h5>{{ friend.email }}</h5>
        </div>
      </div>
    </div>
  </div>
  <!-- Error view -->
  <div class="row" ng-switch-when="error">
    <div class="col-md-12 text-center">
      <div class="row">
        <div class="col-md-12">
          <h1>My Friends</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 col-md-offset-10">
          <form ng-submit="searchUsers(searchString)">
            <input type="text" name="friendSearch" placeholder="...friend to search for" class="none" ng-model="searchString"></input>
            <input type="submit" id="submit" value="Search" />
          </form>
        </div>
      </div>
      <div class="row">
        <div class="cold-md-12 text-center">
          <h3>There was an error retrieving your friends!</h3>
          <h4>If the problem persists, please contact support@covey.com</h4>
        </div>
      </div>
    </div>
  </div>
  <!-- Search view -->
  <div class="row" ng-switch-when="search">
    <div class="col-md-12 text-center">
      <div class="row">
        <div class="col-md-12">
          <h1>Add Friends</h1>
        </div>
      </div>
      <!-- this will need to be done as part of the search bar -->
      <div class="row">
        <div class="col-md-2 col-md-offset-10">
          <form ng-submit="searchUsers(searchString)">
            <input type="text" name="friendSearch" placeholder="...friend to search for" class="none" ng-model="searchString"></input>
            <input type="submit" id="submit" value="Search" />
          </form>
        </div>
      </div>
      <div class-"row" ng-repeat="friend in found">
        <div class="col-md-12 text-left covey-tile" ng-click="addFriend(friend.id)">
          <img src="{{ friend.photoUrl }}" class="myfriends-profile-image"/>
          <h4>{{ friend.firstName }}</h4>
          <h4>{{ friend.lastName }}</h4>
          <h5>{{ friend.email }}</h5>
        </div>
      </div>
    </div>
  </div>
  <!-- 'No coveys' view -->
  <div class="row" ng-switch-default>
    <div class="cold-md-12 text-center">
      <div class="row">
        <div class="col-md-12">
          <h1>My Friends</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 col-md-offset-10">
          <form ng-submit="searchUsers(searchString)">
            <input type="text" name="friendSearch" placeholder="...friend to search for" class="none" ng-model="searchString"></input>
            <input type="submit" id="submit" value="Search" />
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>You have not yet added any friends</h3>
          <h4>Search in the box above to find and add friends.</h4>
        </div>
      </div>
    </div>
  </div>
</div>