<!-- We are using switch to swap between the 'no coveys' and 'has coveys' views -->
<div class="chat-panel-header">
  <p class="chat-panel-title"><b>Friends</b></p>
</div>
<div ng-switch on="showFriends">

  <div class="row" ng-switch-when="true">
    <div class="col-md-12 text-center">
      <div class="row pad-bottom-5">
          <form ng-submit="searchUsers(searchString)">
            <input type="text" name="friendSearch" placeholder="...friend to search for" class="none" ng-model="searchString" />
            <input type="submit" id="submit" value="Search" />
          </form>
      </div>
      <div class="row potential-friend-to-remove verticle-center" ng-repeat="friend in friends" ng-mouseover="mouseOverTrue = true" ng-mouseleave="mouseOverTrue = false; friend.removeConfirm = false" ng-click="confirmDelete(friend)">
        <div class="col-sm-3">
          <img src="{{ friend.photoUrl }}" height="40px" width="40px" border-radius="3px" margin="10px"/>
        </div>
        <div class="col-sm-2 plus-up" ng-switch on="friend.removeConfirm">
          <div ng-switch-default class="side-nav-title" ><img class="friend-delete-image" src="../../../styles/img/deletecovey.ico" ng-show="mouseOverTrue"></div>
          <div ng-switch-when="true">Remove?</div>
        </div>
        <div class="col-sm-6">
          <h5>{{ friend.firstName }} {{ friend.lastName }}</h5>
          <h5>{{ friend.email }}</h5>
        </div>
      </div>
    </div>
  </div>

  <!-- Error view -->
  <div class="row" ng-switch-when="error">
    <div class="col-md-12 text-center">
      <div class="row">
        <div class="col-md-2 col-md-offset-10">
          <form ng-submit="searchUsers(searchString)">
            <input type="text" name="friendSearch" placeholder="...friend to search for" class="none" ng-model="searchString" />
            <input type="submit" id="submit" value="Search" />
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <h3>There was an error retrieving your friends!</h3>
          <h4>If the problem persists, please contact support@covey.com</h4>
        </div>
      </div>
    </div>
  </div>

  <!-- Search view populated-->
  <div class="row" ng-switch-when="search">
    <div class="col-md-12 text-center"> 

      <div class="row"> 
        <h3>
        <button class="btn btn-pineapple" ng-click="hideSearch()">Close Search</button>
        </h3>
      </div>

      <div class="row pad-bottom-5"> 
        <form ng-submit="searchUsers(searchString)">
          <input type="text" name="friendSearch" placeholder="refine your search" class="none" ng-model="searchString" />
          <input type="submit" id="submit" value="Search" />
        </form>
      </div>

      <div class="row potential-friend-to-add verticle-center" ng-repeat="friend in found" ng-mouseover="mouseOverTrue = true" ng-mouseleave="mouseOverTrue = false" ng-click="addFriend(friend.userId)">
        <div class="col-sm-4">
          <div><img src="{{ friend.photoUrl }}" height="40px" width="40px" border-radius="3px" margin="10px"/></div>
        </div>
        <div class="col-sm-2 side-nav-title plus-up"><div>{{mouseOverTrue ? '+' : ''}}</div></div>
        <div class="col-sm-6">
          <div><h5>{{ friend.firstName }} {{ friend.lastName }}</h5>
          <h5>{{ friend.email }}</h5></div>
        </div>
      </div>

    </div>
  </div>

  <!-- Search view empty-->
  <div class="row" ng-switch-when="empty">
    <div class="col-md-12 text-center">
      <div class="row">
        <div class="col-md-12">
          <h1>
          <button class="btn btn-pineapple" ng-click="hideSearch()">Close Search</button></h1>
        </div>
      </div>
      <div class="row pad-bottom-5">
          <form ng-submit="searchUsers(searchString)">
            <input type="text" name="friendSearch" placeholder="refine your search" class="none" ng-model="searchString"></input>
            <input type="submit" id="submit" value="Search" />
          </form>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Sorry, that search didn't match any users.</h3>
          <h4>Search in the box above to find and add friends.</h4>
        </div>
      </div>
    </div>
  </div>

  <!-- 'No friends' view -->
  <div class="row" ng-switch-default>
    <div class="col-md-12 text-center">
      <div class="row">
        <form ng-submit="searchUsers(searchString)">
          <input type="text" name="friendSearch" placeholder="...friend to search for" class="none" ng-model="searchString"></input>
          <input type="submit" id="submit" value="Search" />
        </form>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>You have not yet added any friends</h3>
          <h4>Search in the box above to find and add friends.</h4>
        </div>
      </div>
    </div>
  </div>
</div>
