.mycoveys-event-image {
  float: left;
  margin-right: 10px;
}
.covey-tile {
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
.covey-tile:hover {
  background: #F7FDFF;
}
.add-coveys-button {
  width: 25%;
}
