.main-body-panel-header {
  height:50px;line-height:50px;vertical-align:center;background-color:#0191C8;color:#ffffff;padding: 0 10px;border-top-left-radius:3px;border-top-right-radius:3px;
}

.body-panel-header {
  display:inline;float:left;font-size:32px;
}

.body-panel-personal-details {
  display:inline;float:right;
}

.main-body-panel-body {
  display:inline-block;width:90%;margin:0 auto;
}

.main-body-inputs {
  background-color:#DDDDDD;margin-top:10px;
}

.main-input-styles {
  background-color:#DDDDDD;
  cursor: pointer;
  float:left;padding:4px 12px;border-radius:3px;box-shadow: 0 1px 0 0 #bfbfbf;
  display:inline;
  margin: 2px;
  width: 25%;
  border: none;
}

.main-input-styles:hover {
  background-color:#bfbfbf;
}

.main-input-styles:focus {
  background-color:#bfbfbf;
  outline:0;
}

.current-attendees-added {
  display:inline;width:35%;float:left;
}

.panel-current-users {
  cursor: pointer;
  background-color:#FFB600;display:inline-block;padding:1px;margin:3px;font-size:13px;
  border-radius:3px;box-shadow: 0 1px 0 0 #cc9200;
  height:100%;padding:4px 0;width:30px;text-align:center;
}

.panel-current-users:hover {
  background-color:#d27979;
}

.current-attendees {
  background-color:#FFB600;display:inline-block;margin:3px;font-size:16px;
  border-radius:3px;box-shadow: 0 1px 0 0 #cc9200;
  padding:8px 0;width:40px;text-align:center;
}

.potential-user-to-add {
  background-color:#00AB6F;
}

.potential-user-to-add:hover {
  background-color:#00cc85;
}

.panel-potential-users {
  cursor: pointer;
  background-color:#00AB6F;display:inline-block;padding:1px 4px;margin:3px;font-size:13px;text-align:center;
  border-radius:3px;box-shadow: 0 1px 0 0 #008053;
  height:100%;padding:4px;
}

.panel-potential-users:hover {
  background-color:#00cc85;
}

.remove-resource-ride-btn {
  display:inline;background-color:#DDDDDD;float:right;
  border:none;
  border-radius:3px;box-shadow: 0 1px 0 0 #bfbfbf;
  height:100%;padding:4px 10px;
}

.add-resource-ride-btn {
  background-color:#DDDDDD;border:none;box-shadow:none;width:90%;margin:10px auto;
  border-radius:3px;box-shadow: 0 1px 0 0 #bfbfbf;
}

.add-resource-ride-btn:hover {
  background-color:#bfbfbf;
}

.add-resource-ride-btn:focus {
  outline:0;
}

.active-nav {
  margin-bottom:20px;background-color:#FFB600;text-align:center;height:50px;line-height:50px;vertical-align: middle;width:105%;
}

.inactive-nav {
  margin-bottom:20px;text-align:center;height:50px;line-height:50px;vertical-align: middle;
}

.covey-sidenav {
  background-color: #0191C8;color:white;height:100vh;padding:0;margin:0;text-align:center;
}

.covey-details-edit-btn {
  float:right;border:none;box-shadow:none;background-color:#DDDDDD;padding:5px;margin-right:10px;
}

.covey-details-edit-btn:hover {
  background-color:#bfbfbf;
}

.covey-details-edit-btn:focus {
  outline:0;
}

.main-covey-panel {
  height: 75vh; margin-left:15px;padding:0;
}

.main-covey-body {
  padding:0;margin:0;
}

.details-inputs {
  margin: 2px;
  border: none;
}

.covey {
  width: 100%;
  background-color: #DDDDDD;
  font-family: 'Open Sans', sans-serif;
  color: #0191C8;
  padding:0;margin:0;border:0;
  text-align:center;
}

.covey-icon {
  display:inline;
  width: 30px;
  height: 30px;
  padding-right: 5px;
}

/* overrides bootstrap hover color change: */
button.hamburger:hover {
  background-color: #fff;
  border-color: #0191C8;
}

span.glyphicon-menu-hamburger {
  width: 100%;
  color: #0191C8;
}

.panel-body {
  color: #000;
}

.panel-chat {
  height: 50vh;
  overflow-y: scroll;
}

.chat-messages {
  text-align: left;
}

.chat-username {
  font-weight: bold;
}

.shared-inputs-color {
  background-color: #ccf0ff;
}

.remove-ride-btn:hover {
  background-color:#d27979;
}
