.scroll-box {
  overflow-y: scroll;
}
.pad-bottom-5 {
  padding-bottom: 5px;
}
.potential-friend-to-add {
  background-color:#FFFFFF;
}
.potential-friend-to-add:hover {
  background-color:#00cc85;
}
.potential-friend-to-remove {
  background-color:#FFFFFF;
  margin-top: 5px;
}
.potential-friend-to-remove:hover {
  font-weight: bold;
  cursor: pointer;
}
.verticle-center {
  display: flex;
  align-items: center;
}
.plus-up {
  margin-top: -5px;
}
.friend-delete-image {
  height: 25px;
  width: 25px;
}
