/* webkit-scrollbar styling hides all scrollbars on our site
*  Alternatively, select only the elements you want:
      #element::-webkit-scrollbar { 
        display: none; 
      }
*/
::-webkit-scrollbar { 
  display: none; 
}

.site-container {
  background-color: #DDDDDD;
}

.index {
  height: 100vh;
  background-color: #0191C8;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

.custom-navbar {
  padding-top:20px;
  height: 30px;
}

.promo-container {
  margin-top: 7%;
}

.logo {
  width: 75%;
  height: 75%;
  float: right;
  padding-right: 30px;
}

.message-container {
  margin-top: 5%;
}

.index-main-message {
  margin-bottom:10px;
}

.index-main-message h1 span {
  font-size: 65px;
  font-family: 'Pacifico', cursive;
}

.index-main-message h3 {
  margin-top:10px;
}

button {
  background-color: #FFB600;
}

h1 {
  margin: 0px;
  padding: 5px;
  font-size: 4em;
}

h3 {
  margin: 0px;
  padding: 5px 5px 25px 5px;
}

a.nav-text {
  background: none;
  color: white;
  font-size: 1.1em;
}

a.nav-text:hover {
  height: 25px;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid;
}

.nav-text-btn {
  background: none;
  color: white;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 1.2em;
  border: none;
  padding: 0 0 4px;
}

.nav-text-btn:hover {
  border-bottom: 1px solid;
  padding: 0 0 3px;
}

.sign-up-btn {
  background-color:#FFB600;
  border-radius:5px;
  padding-left:5px;
  padding-right:8px;
  font-size:16px
}

.scroll-down-chevron-row {
  margin-top:3%;
}

.scroll-down-chevron {
  margin: 0 auto;
  text-align:center; 
  border: 2px solid #fff;
  border-radius:50%;
  width:47px;
  height:47px;
}

.scroll-down-chevron span {
   font-size:32px;
   color:#fff;
   line-height:47px;
   vertical-align:middle;
}

.about-header-title {
  font-size:30px;
  font-weight: 600;
}
.about-header-text {
  font-size:20px;
  font-family: 'Lora', serif;
}
.about-section-body {
  margin-top:50px;
}
.about-section-body-container {
   text-align:left;
}
.about-header-title-small {
  font-size:20px;
  font-weight: 600;
}
.about-header-body-small {
  font-size:16px;
  font-family: 'Lora', serif;
}

.team-section-title {
  font-size:32px;
}

.team-section hr {
  width:200px;
}

.team-section-body {
   padding-top: 50px;
}

.team-section-body img {
   border-radius:3px;
}

.team-section-body p {
  font-size:14px;
  padding-top:8px;
}
.team-github-icon {
  margin-right:5px;
}

/* SCROLLABLE INDEX SECTION */
.team-scroll-btn {
  background-color:#F6F8F9;
}

.about-section {
  height: 100vh;
  padding-top: 80px;
  text-align: center;
  background: #F6F8F9;
  border-bottom: 1px solid #DDDDDD;
}

.team-section {
    height: 100vh;
    padding-top: 80px;
    text-align: center;
    background: #fff;
}
