.index {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #0191C8;
  font-family: Calibri;
  color: #fff;
}

.custom-navbar {
  margin-top: 3%;
  height: 30px;
}

.promo-container {
  margin-top: 7%;
}

.logo {
  width: 75%;
  height: 75%;
  float: right;
  padding-right: 30px;
}

.message-container {
  margin-top: 5%;
}

button {
  background-color: #FFB600;
}

h1 {
  margin: 0px;
  padding: 5px;
  font-size: 4em;
}

h3 {
  margin: 0px;
  padding: 5px 5px 25px 5px;
}

a.nav-text {
  background: none;
  color: white;
  font-size: 1.1em;
}

a.nav-text:hover {
  height: 25px;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid;
}

.nav-text-btn {
  background: none;
  color: white;
  font-family: Calibri;
  color: #fff;
  font-size: 1.2em;
  border: none;
  padding: 0 0 4px;
}

.nav-text-btn:hover {
  border-bottom: 1px solid;
  padding: 0 0 3px;
}

.sign-up-btn {
  border-radius: 30px;
  width: 25%;
}

.judgecovey {
  position: absolute;
  top: -17px;
  left: 438px;
  height: 100px;
  width: auto;
  -webkit-transform: rotate(25deg); /* Chrome, Safari, Opera */
  transform: rotate(25deg);
}