/*body {
  overflow: hidden;
}*/
.profile-page-container {
  width: 100%;
  background-color: #DDDDDD;
  padding: 0;
  margin: 0;
  border: 0;
}
.profile-photo {
  width: 100%;
  object-fit: cover;
  border: 8px solid white;
}
.profile-text-panel {
  height: 300px;
  overflow: hidden;
}
.profile-text-name {
  font-size: 4.5em;
  text-align: left;
}
.profile-text-details {
  font-size: 1.8em;
  text-align: left;
}
.profile-text-details-input {
  width:80%;
  font-size: 1.8em;
  text-align: left;
  border: none;
}
.profile-text-label {
  font-size: 1.8em;
  text-align: left;
}
.profile-title-box{
  margin: 20px 0px 0px 20px;
}
.profile-text-box {
  min-height: 40px;
  margin: 20px 0px 0px 20px;
}
/*.profile-name {
  margin: 30px 30px 30px 0px;
}*/
.col-centered {
  float: none;
  margin: 0 auto;
}
.profile-glyphicon-pencil {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 20px;
  color: #0191C8;
}
.profile-glyphicon-pencil:hover .save-text {
  font-size: 15px;
  color: #FFB600;
}
.blue {
  color: #0191C8;
}
.orange {
  color: #FFB600;
}
.grey {
  color: #bfbfbf;
}
.profile-edit-btn {
  border: none;
  box-shadow: none;
  background-color: transparent;
}
.profile-edit-btn:hover {
  color: #FFB600;
}
.profile-input-text {
  height: 36px;
  width: 80%;
  font-size: 24px;
  margin: 0px 0px 40px 6px;
  border: none;
}
.profile-input-label {
  font-size: 24px;
  margin: 5px 0px 30px 40px;
  border: none;
}
.bold {
  font-weight: 500;
}
.underline {
  border-bottom: 2px solid #bfbfbf;
}
.underline-adjust {
  margin-bottom: 3px;
}
.save-text {
  font-size: 15px;
  color: #0191C8;
}
.profile-panel {
  padding-left: 0px;
  padding-right: 0px;
}
.no-padding-left {
  padding-left: 0px;
  padding-right: 0px;
}
.vertical-center {
  min-height: 80%;
  min-height: 80vh;
  display: flex;
  align-items: center;
}
.heading-margin {
  margin-top: 60px;
  margin-bottom: 20px;
};