body {
  overflow: hidden;
}
.profile-page-container {
  width: 100%;
  background-color: #DDDDDD;
  padding: 0;
  margin: 0;
  border: 0;
}
.profile-photo {
  height: auto;
  overflow: hidden;
}
.profile-text {
  height: 300px;
  overflow: hidden;
}