.hamburger-button {
  width: 40px;
  float: right;
}
.hamburger-menu {
  width: 100%;
  text-align: center;
  list-style-type: none;
}
.hamburger-menu-item {
  margin-top: 5px;
  margin-bottom: 5px;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: black;
}
.hamburger-menu-item-last {
  border-width: 0px;
}
.mycoveys-event-image {
  float: left;
  margin-right: 10px;
}
.covey-tile {
  margin-top: 10px;
  padding-left: 0px;
}
.covey-tile:hover {
  background: #e6f7ff;
}