<div class="container covey">
  <div class="row">

  <div side-nav></div>

  <div ng-class="{'col-sm-7': isExpanded(), 'col-sm-8': !isExpanded()}">
    <div class="panel panel-default main-covey-panel">
      <div class="panel-body main-covey-body">
        <div coveys-directive class="row"></div>
        <div create-covey-directive class="row"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <ul class="list-unstyled">
      <div class="panel panel-default panel-chat" style="height:90vh">
        <div class="panel-body">
          <div friends-directive></div>
        </div>
      </div>
    </ul>
  </div>
    
  </div>
</div>
