<!-- We are using switch to swap between the 'no coveys' and 'has coveys' views -->
<div ng-controller="coveysController" ng-switch on="hasCoveys">
  <div class="row" ng-switch-when="true">
    <div class="cold-md-12 text-center">
      <div class="row">
        <div class="col-md-12">
          <h1>My Coveys</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 col-md-offset-10">
          <button class="btn btn-primary" ng-click="toggleCreateCoveyModal()"><b>+ Create</b></button>
        </div>
      </div>
      <div class-"row" ng-repeat="covey in coveys">
        <div class="col-md-12 text-left covey-tile" ng-click="goToCovey(covey.covey_id)">
          <img src="{{ covey.photoUrl }}" class="mycoveys-event-image"/>
          <h4>{{ covey.name }}</h4>
          <h5>{{ covey.startTime }} to {{ covey.endTime }}</h5>
          <h5>{{ covey.blurb }}</h5>
        </div>
      </div>
    </div>
  </div>
  <!-- Error view -->
  <div class="row" ng-switch-when="error">
    <div class="col-md-12 text-center">
      <div class="row">
        <div class="col-md-12">
          <h1>My Coveys</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 col-md-offset-10">
          <button class="btn btn-primary" ng-click="toggleCreateCoveyModal()"><b>+ Create</b></button>
        </div>
      </div>
      <div class="row">
        <div class="cold-md-12 text-center">
          <h3>There was an error retrieving your coveys!</h3>
          <h4>If the problem persists, please contact support@covey.com</h4>
        </div>
      </div>
    </div>
  </div>
  <!-- 'No coveys' view -->
  <div class="row" ng-switch-default>
    <div class="cold-md-12 text-center">
      <div class="row">
        <div class="col-md-12">
          <h1>My Coveys</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 col-md-offset-10">
          <button class="btn btn-primary" ng-click="toggleCreateCoveyModal()"><b>+ Create</b></button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>You have no coveys</h3>
          <h4>Click the 'create' button to make a new one!</h4>
        </div>
      </div>
    </div>
  </div>
</div>