<!-- We are using switch to swap between the 'no coveys' and 'has coveys' views -->
<div class="main-body-panel-header" style="padding-left:30px;height:75px;line-height:75px">
  <p class="body-panel-title" style="font-size:48px"><b>My Coveys</b></p>
</div>
<br>
<div class="main-panel-body" ng-switch on="hasCoveys">
  <div ng-switch-when="true">

    <div class="row text-right btn-row">
      <div class="col-md-2 col-md-offset-10">
        <button class="btn btn-pineapple" ng-click="toggleCreateCoveyModal()"><b>+ Create</b></button>
      </div>
    </div>

    <div>
      <div ng-repeat="covey in coveys track by $index">
        <div class="col-md-12 text-left covey-tile" ng-click="goToCovey(covey.covey_id)">
          <div class="mycoveys-event-image-container">
            <img src="{{ covey.photoUrl }}" class="mycoveys-event-image"/>
          </div>
          <h4 class="covey-tile-heading">{{ covey.name }}</h4>
          <h5 class="covey-tile-text">{{ convertToTextDate(covey.startTime) }} to {{ convertToTextDate(covey.endTime) }}</h5>
          <h5 class="covey-tile-text">{{ covey.blurb }}</h5>
        </div>
      </div>
    </div>

    <div ng-switch-when="error">
      <div class="row text-right btn-row">
        <div class="col-md-2 col-md-offset-10">
          <button class="btn btn-pineapple" ng-click="toggleCreateCoveyModal()"><b>+ Create</b></button>
        </div>
      </div>
      <div class="row">
        <div class="cold-md-12 text-center">
          <h3>There was an error retrieving your coveys!</h3>
          <h4>If the problem persists, please contact support@covey.com</h4>
        </div>
      </div>
    </div>

    <div ng-switch-default>
      <div class="cold-md-12 text-center">
        <div class="row text-left coveys-title-container">
          <div class="col-md-12">
            <h1 class="coveys-title-text">My Coveys</h1>
          </div>
        </div>
        <div class="row text-right btn-row">
          <div class="col-md-2 col-md-offset-10">
            <button class="btn btn-pineapple" ng-click="toggleCreateCoveyModal()"><b>+ Create</b></button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h3>You have no coveys</h3>
            <h4>Click the 'create' button to make a new one!</h4>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
