<!-- Left Side Navbar: Covey View -->
<div ng-class="{'col-sm-2': isExpanded(), 'col-sm-1': !isExpanded()}">
  <ul class="nav nav-pills nav-stacked">

    <li role="presentation" class="brand-nav-pill"  ng-click="navigateTo('/')">
      <span class="nav-pill-text-align side-nav-title" ng-hide="!isExpanded()">Covey</span>
      <span class="nav-pill-text-align" ng-hide="isExpanded()"><img class="covey-nav-icon" src="styles/assets/quailMiniWhite.png"></span>
    </li>
    <li role="presentation" ng-click="toggleMenu();">
      <div class="nav-pill-text-align">
        <span ng-hide="!isExpanded()" class="glyphicon glyphicon-chevron-left"></span> <span ng-hide="!isExpanded()">Menu</span>
        <span ng-hide="isExpanded()" class="glyphicon glyphicon-chevron-right">
      </div>
    </li>
    <li role="presentation" ng-class="{'active-nav': isSelected('details'), 'inactive-nav': !isSelected('details')}" ng-click="navbarSwitch('details')">
      <div class="nav-pill-text-align">
        <span class="glyphicon glyphicon-calendar"></span> <span ng-hide="!isExpanded()">Details</span>
      </div>
    </li>
    <li role="presentation" ng-class="{'active-nav': isSelected('rides'), 'inactive-nav': !isSelected('rides')}" ng-click="navbarSwitch('rides')">
      <div class="nav-pill-text-align">
        <img class="nav-car-icon" src="styles/assets/car2White.png">
        <span ng-hide="!isExpanded()"> Rides</span>
      </div>
    </li>
    <li role="presentation" ng-class="{'active-nav': isSelected('supplies'), 'inactive-nav': !isSelected('supplies')}" ng-click="navbarSwitch('supplies')">
      <div class="nav-pill-text-align">
        <span class="glyphicon glyphicon-list"></span> <span ng-hide="!isExpanded()">Supplies</span>
      </div>
    </li>
    <li role="presentation" ng-class="{'active-nav': isSelected('expenses'), 'inactive-nav': !isSelected('expenses')}" ng-click="navbarSwitch('expenses')">
      <div class="nav-pill-text-align">
        <span class="glyphicon glyphicon-piggy-bank"></span> <span ng-hide="!isExpanded()">Expenses</span>
      </div>
    </li>

    <hr/>

    <li role="presentation" ng-click="navigateTo('/coveys')"> 
      <div class="nav-pill-text-align">
        <span class="glyphicon glyphicon-home"></span> <span ng-hide="!isExpanded()">Home</span>
      </div>
    </li>

    <li role="presentation" ng-click="navigateTo('/profile')"> 
      <div class="nav-pill-text-align">
        <span class="glyphicon glyphicon-cog"></span> <span ng-hide="!isExpanded()">Settings</span>
      </div>
    </li>

    <li role="presentation" ng-click="logout()"> 
      <div class="nav-pill-text-align">
        <span class="glyphicon glyphicon-log-out"></span> <span ng-hide="!isExpanded()">Logout</span>
      </div>
    </li>
  </ul>
</div>
