<div class="main-rides-panel-header">
  <p class="rides-panel-header"><b>RIDES</b></p>
  <p class="rides-panel-personal-details">Your ride: {{stringifyUsersRide()}}</p>
</div>
<br>
<div class="main-rides-panel-body">
  <div class="rides-body-inputs" ng-repeat="ride in ridesDetails track by $index">
    <form ng-submit="submitRide(ride, $index)">
      <input type="text" name="driverName" class="rides-input-styles shared-inputs-color" ng-model="ride.name"></input>
      <input type="text" name="timeToLeave" class="rides-input-styles shared-inputs-color" ng-model="ride.departureTime"></input>

      <div class="rides-passengers">
        <div class="panel-current-users" ng-click="removePassenger(passenger, ride)" ng-mouseover="mouseOverTrue = true" ng-mouseleave="mouseOverTrue = false" ng-repeat="passenger in ride.riders">
            {{mouseOverTrue ? 'X' : passenger.firstName.slice(0,1)+passenger.lastName.slice(0,1)}}
        </div>
        <div class="panel-potential-users add-potential" ng-click="editMode = !editMode">+ Passenger</div>
        <div ng-show="editMode">
          <div class="panel-potential-users click-potential" ng-click="addPassenger(friend, ride)" ng-mouseover="mouseOverTrue = true" ng-mouseleave="mouseOverTrue = false" ng-repeat="friend in attendees | alreadyPassenger: ridesDetails">
            {{mouseOverTrue ? '+' : friend.firstName.slice(0,1)+friend.lastName.slice(0,1)}}
          </div>
        </div>
      </div>

      <input style="display:none;" type="submit" id="submit" value="Y" />
      <button class="remove-ride-btn" ng-click="removeRide(ride, $index);">X</button>
    </form>
  </div>
</div>
<button class="add-ride-btn shared-inputs-color" ng-click="addNewRide()">add a car...</button>
