<li class="panel panel-info">
  <!-- PANEL HEADING -->
  <div class="panel-heading">
    Rides
    <span ng-click="expandRides()" class="glyphicon glyphicon-pencil pencil-button"></span>
  </div>
  <div class="panel-body">

    <!-- BASIC PANEL VIEW -->
    <div ng-hide="expandRide">Your ride: {{stringifyUsersRide()}}</div>

    <!-- PANEL VIEW IN EDIT MODE -->
    <ul ng-show="expandRide" class="list-unstyled">
      <li ng-repeat="ride in ridesDetails track by $index">
          <div ng-hide="editMode" class="panel panel-static">
            {{ride.name}} - {{ride.departureTime}}
            <!-- DISPLAY PASSENGERS -->
            <div ng-repeat="rider in ride.riders" class="panel-users">
                {{rider.firstName}}
            </div>
            <button ng-click="editMode = !editMode" class="btn btn-sm pencil-button"><span class="glyphicon glyphicon-pencil"></span></button>
          </div>

          <!-- INDIVIDUAL RIDE EDIT VIEW -->
          <div ng-show="editMode" class="panel panel-edit">
            <form ng-submit="editMode = !editMode; submitRide(ride, $index)">
              <input type="text" name="driverName" class="panel-input" ng-model="ride.name"></input>
              <input type="text" name="timeToLeave" class="panel-input" ng-model="ride.departureTime"></input>
              <!-- DISPLAY PASSENGERS -->
              <div>
                <div ng-click="removePassenger(passenger, ride)" ng-mouseover="mouseOverTrue = true" ng-mouseleave="mouseOverTrue = false" ng-repeat="passenger in ride.riders" class="panel-current-users">
                  {{mouseOverTrue ? 'X' : passenger.firstName}}
                </div>
              </div>
              <!-- DISPLAY POTENTIAL PASSENGERS -->
              <div>
                <div ng-click="addPassenger(friend, ride)" ng-mouseover="mouseOverTrue = true" ng-mouseleave="mouseOverTrue = false" ng-repeat="friend in attendees | alreadyPassenger: ridesDetails" class="panel-potential-users">
                  {{mouseOverTrue ? '+' : friend.firstName}}
                </div>
              </div>
              <input type="submit" id="submit" value="Update" />
            </form>
            <button ng-click="editMode = !editMode;">Cancel</button>
            <button ng-click="removeRide(ride, $index); editMode = !editMode;">Delete</button>
          </div>
      </li>
    </ul>
    <button ng-show="expandRide" ng-click="addNewRide()" class="panel panel-add">add car</button>
  </div>
</li>