<div class="main-body-panel-header">
  <p class="body-panel-title"><b>EXPENSES</b></p>
  <p class="body-panel-personal-details">You paid: ${{usersExpense.paid.toFixed(2)}} You owe: ${{usersExpense.owe.toFixed(2)}}</p>
  $ represents the person who paid
</div>
<br>
<div class="main-panel-body">
  <div class="main-body-inputs" ng-repeat="expense in expensesDetails track by $index">
    <form ng-submit="submitExpense(expense, $index)">
      <input type="text" name="expenseName" class="main-input-styles shared-inputs-color" ng-model="expense.name"></input>
      <input type="text" name="expenseAmount" class="main-input-styles shared-inputs-color" ng-model="expense.amount" format="currency"></input>

      <div class="current-attendees-added">
        <div class="panel-current-users" ng-click="removeParticipant(participant, expense)" ng-mouseover="mouseOverTrue = true" ng-mouseleave="mouseOverTrue = false" ng-repeat="participant in expense.participants">
            {{participant.is_owner ? '$' : ''}}{{mouseOverTrue ? 'X' : participant.firstName.slice(0,1)+participant.lastName.slice(0,1)}}
        </div>
        <div class="panel-potential-users" ng-click="editMode = !editMode">+ Paid</div>
        <div ng-show="editMode">
          <div class="panel-current-users potential-user-to-add" ng-click="addParticipant(friend, expense)" ng-mouseover="mouseOverTrue = true" ng-mouseleave="mouseOverTrue = false" ng-repeat="friend in attendees | alreadyParticipant: expense.participants">
          <!-- removed  | alreadyParticipant: expensesDetails from above -->
            {{mouseOverTrue ? '+' : friend.firstName.slice(0,1)+friend.lastName.slice(0,1)}}
          </div>
        </div>
      </div>
      <input style="display:none;" type="submit" id="submit" value="Y" />
    </form>
    <button class="remove-resource-ride-btn" ng-click="removeExpense(expense, $index);">X</button>
  </div>
</div>
<button class="add-resource-ride-btn shared-inputs-color" ng-click="addNewExpense()">add an expense</button>
