<section id="intro" class="index" ng-controller="indexController">
  <form>
    <div class="row custom-navbar">
      <div class="col-sm-offset-11 col-sm-1"><a href="/api/auth/facebook" class="nav-text">LOGIN</a></div>
    </div>
    <div class="row promo-container">
      <div class="col-sm-6 hidden-xs">
        <img class="logo" src="styles/assets/coveyLogo2.svg">
      </div>
      <div class="col-sm-6 message-container">
        <div class="index-main-message">
          <h1>Join a <span>Covey</span></h1>
          <h3>Plan your next group adventure</h3>
        </div>
        <button ng-click="setCookie()" onclick="window.location.href='/api/auth/facebook'" type="submit" class="btn btn-lg sign-up-btn"><img src="../../../styles/assets/facebook-logo.png" height="20px" width="20px" border-radius="3px" margin="10px"> | Connect with Facebook</button>
      </div>
    </div>
  </form>
  <div class="row scroll-down-chevron-row">
    <div class="col-sm-offset-5 col-sm-2">
      <div class="scroll-down-chevron">
        <a class="page-scroll" href="#about"><span class="glyphicon glyphicon-chevron-down"></span></a>
      </div>
    </div>
  </div>
</section>

<section id="about" class="about-section">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8">
      <p class="about-header-title">Plan your next great adventure with us</p>
      <p class="about-header-text">Covey is an interactive tool that simplifies group trip organization. Collaborate with your friends to share rides, supplies, and expenses.</p>
    </div>
  </div>
  <div class="row about-section-body">
    <div class="col-sm-offset-1 col-sm-5">
      <img src="../../../styles/assets/mountains.png" height="300px" width="300px" border-radius="3px" margin="10px">
    </div>
    <div class="col-sm-5 about-section-body-container">
      <br>
      <br>
      <p class="about-header-title-small">World class trip planner</p>
      <p class="about-header-body-small">Covey makes it easy to coordinate groups in real-time. Backed by a powerful Postgres database and Google's AngularJS framework, Covey is ready to take on your greatest event planning challenges.</p>
      <br>
      <a class="btn btn-default page-scroll team-scroll-btn" href="#team">Meet the Team <span class="glyphicon glyphicon-chevron-down"></span></a>
    </div>
  </div>
</section>

<section id="team" class="team-section">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8">
      <p class="team-section-title">Who we are</p>
      <hr>
    </div>
  </div>
  <div class="row team-section-body">
    <div class="col-sm-offset-2 col-sm-2">
      <img src="../../../styles/assets/fred.png" height="100px" width="100px" margin="10px">
      <p><b>Freddie Ryder</b><br>Software Engineer</p>
      <a href="https://github.com/fredryder" target="_blank"><img src="../../../styles/assets/github-sign.png" height="24px" width="24px" class="team-github-icon"></a>
      <a href="https://www.linkedin.com/in/fred-ryder-629b1824" target="_blank"><img src="../../../styles/assets/linkedin.png" height="24px" width="24px"></a>
    </div>
    <div class="col-sm-2">
      <img src="../../../styles/assets/rahim.png" height="100px" width="100px" margin="10px">
      <p><b>Rahim Dharssi</b><br>Software Engineer</p>
      <a href="https://github.com/rahimftd" target="_blank"><img src="../../../styles/assets/github-sign.png" height="24px" width="24px" class="team-github-icon"></a>
      <a href="https://www.linkedin.com/in/rahimdharssi" target="_blank"><img src="../../../styles/assets/linkedin.png" height="24px" width="24px"></a>
    </div>
    <div class="col-sm-2">
      <img src="../../../styles/assets/toben.png" height="100px" width="100px" margin="10px">
      <p><b>Toben Green</b><br>Software Engineer</p>
      <a href="https://github.com/tobensg" target="_blank"><img src="../../../styles/assets/github-sign.png" height="24px" width="24px" class="team-github-icon"></a>
      <a href="https://www.linkedin.com/in/tobengreen" target="_blank"><img src="../../../styles/assets/linkedin.png" height="24px" width="24px"></a>
    </div>
    <div class="col-sm-2">
      <img src="../../../styles/assets/skye.png" height="100px" width="100px" margin="10px">
      <p><b>Skye Free</b><br>Software Engineer</p>
      <a href="https://github.com/swfree" target="_blank"><img src="../../../styles/assets/github-sign.png" height="24px" width="24px" class="team-github-icon"></a>
      <a href="https://www.linkedin.com/in/skyefree" target="_blank"><img src="../../../styles/assets/linkedin.png" height="24px" width="24px"></a>
    </div>
  </div>
  <div class="row">
    <br><br><br><br><br><br>
    <a class="btn btn-default page-scroll" href="#intro"><span class="glyphicon glyphicon-chevron-up"></span> Scroll to Top</a>
  </div>
</section>
