<div class="container about">
  <form>
  <div class="row custom-navbar">
    <div class="col-sm-offset-10 col-sm-1"><a href="/#/" class="nav-text">HOME</a></div>
    <div class="col-sm-1"><a href="/api/auth/facebook" class="nav-text">LOGIN</a></div>
  </div>
  <div class="row promo-container">
    <div class="col-sm-6 hidden-xs">
      <div class="image-box">
        <img class="logo" src="styles/assets/quail.png">
        <img class="judgecovey" src="http://www.pd4pic.com/images/outline-silhouette-cartoon-gun-mini-machine-guns.png">
      </div>
    </div>
    <div class="col-sm-6 message-container">
      <h1>Judge Covey</h1>
      <h3>The law giver.</h3>
    </div>
  </div>
  </form>
</div>