<div class="panel panel-default">
  <div class="panel-heading">
    Friends
    <span ng-click="editAttendees = !editAttendees" class="glyphicon glyphicon-pencil pencil-button"></span>
  </div>
  <div class="panel-body details-panel">
    <div ng-hide="editAttendees">
      <p>Attendees: {{friends}}</p>
    </div>
    <div ng-show="editAttendees">
      <form ng-submit="editAttendees = !editAttendees; updateCovey()">
        <input type="text" name="attendees" class="panel-input" ng-model="details.attendees"></input>
        <input type="submit" id="submit" value="Update" />
      </form>
    </div>
  </div>
</div>
