<div class="container">
  <!-- Hamburger menu -->
  <div class="row covey-nav" ng-controller="hamburgerController">
    <div class="col-xs-offset-10 col-xs-2">
      <img class="icon" src="styles/assets/quailMini.png">
      <button type="button" class="btn btn-default btn-md hamburger" ng-click="toggleMenu()">
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
      </button>
    </div>
    <div class="col-md-12 hamburger-menu" ng-show="showMenu" ng-click="toggleMenu()">
        <div class="row text-center">
          <div class="col-md-12 hamburger-menu-item">
            <a href="/#/coveys" class="hamburger-menu-item-text">ABOUT US</a>
          </div>
          <div class="col-md-12 hamburger-menu-item">
            <a href="/#/coveys" class="hamburger-menu-item-text">LOGOUT</a>
          </div>
        </div>
    </div>
  </div>
  <!-- Covey creation modal -->
  <div create-covey-directive></div>
  <!-- 'Has coveys' view. We are using switch to swap between the 'no coveys' and 'has coveys' views -->
  <div ng-controller="coveysController" ng-switch on="hasCoveys">
    <div class="row" ng-switch-when="true">
      <div class="cold-md-12 text-center">
        <div class="row">
          <div class="col-md-12">
            <h1>My Coveys</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-md-offset-10">
            <button class="btn btn-primary" ng-click="toggleCreateCoveyModal()"><b>+ Create</b></button>
          </div>
        </div>
        <div class-"row" ng-repeat="covey in coveys">
          <div class="col-md-12 text-left covey-tile" ng-click="goToCovey(covey.covey_id)">
            <img src="{{ covey.photoUrl }}" class="mycoveys-event-image"/>
            <h4>{{ covey.name }}</h4>
            <h5>{{ covey.startTime }} to {{ covey.endTime }}</h5>
            <h5>{{ covey.blurb }}</h5>
          </div>
        </div>
      </div>
    </div>
    <!-- Error view -->
    <div class="row" ng-switch-when="error">
      <div class="col-md-12 text-center">
        <div class="row">
          <div class="col-md-12">
            <h1>My Coveys</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-md-offset-10">
            <button class="btn btn-primary" ng-click="toggleCreateCoveyModal()"><b>+ Create</b></button>
          </div>
        </div>
        <div class="row">
          <div class="cold-md-12 text-center">
            <h3>There was an error retrieving your coveys!</h3>
            <h4>If the problem persists, please contact support@covey.com</h4>
          </div>
        </div>
      </div>
    </div>
    <!-- 'No coveys' view -->
    <div class="row" ng-switch-default>
      <div class="cold-md-12 text-center">
        <div class="row">
          <div class="col-md-12">
            <h1>My Coveys</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-md-offset-10">
            <button class="btn btn-primary" ng-click="toggleCreateCoveyModal()"><b>+ Create</b></button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h3>You have no coveys</h3>
            <h4>Click the 'create' button to make a new one!</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>