<div class="panel panel-default">
  <div class="panel-heading">
    Details
    <span ng-click="editDetails = !editDetails" class="pencil-button glyphicon glyphicon-pencil"></span>
  </div>
  <div class="panel-body details-panel">
    <div ng-hide="editDetails">
      <p>
        {{details.location}} @ {{details.time}}
      </p>
    </div>
    <div ng-show="editDetails">
      <form ng-submit="editDetails = !editDetails; updateCovey()">
        <input type="text" name="eventName" class="panel-input" ng-model="details.eventName"></input>
        <input type="text" name="time" class="panel-input" ng-model="details.time"></input>
        <input type="text" name="location" class="panel-input" ng-model="details.location"></input>
        <input type="submit" id="submit" value="Update" />
      </form>
    </div>
  </div>
</div>
