<div class="panel panel-default">
  <div class="panel-heading">
    Friends
    <span ng-click="editAttendees = !editAttendees" style="float:right;" class="glyphicon glyphicon-pencil"></span>
  </div>
  <div class="panel-body details-panel">
    <div ng-hide="editAttendees">
      <p>Attendees: {{friends}}</p>
    </div>
    <div ng-show="editAttendees">
      <form ng-submit="editAttendees = !editAttendees; updateCovey()">
        <input type="text" name="attendees" ng-model="details.attendees" style="margin:2px;width:75%;border:none"></input>
        <input type="submit" id="submit" value="Update" />
      </form>
    </div>
  </div>
</div>
