<div class="container covey">
  <div class="row covey-nav">
    <div class="col-xs-offset-10 col-xs-2">
      <img class="icon" src="styles/assets/quailMini.png">
      <button type="button" class="btn btn-default btn-md hamburger">
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
      </button>
    </div>
  </div>
  <div class="row covey-title">
    <div class="col-xs-offset-4 col-xs-4">
      <h3>{{details.eventName}}</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-offset-1 col-sm-4">
      <div covey-details></div>
    </div>
    <div class="col-sm-offset-2 col-sm-4">
      <ul id="draggablePanelList" class="list-unstyled">
        <!-- ng-show/hide between rides and rides-edit directives -->
        <div rides></div>
        <div supplies></div>
      </ul>


      <div ng-switch on="selection">
          <div class="animate-switch" ng-switch-when="ridesClicked">rides edit div</div>
          <div class="animate-switch" ng-switch-when="suppliesClicked">supplies edit div</div>
          <div class="animate-switch" ng-switch-default>plain rides div</div>
          <div class="animate-switch" ng-switch-default>plain supplies div</div>
      </div>


    </div>
  </div>
</div>
