<li class="panel panel-info">
  <div ng-click="expandSupplies()" class="panel-heading">Supplies</div>
  <div class="panel-body">
    <div ng-hide="expandSupply">You're bringing: {{supplies[0]}}</div>
    <ul ng-show="expandSupply" class="list-unstyled">
      <li ng-repeat="supply in supplies track by $index" class="panel" style="width:100%;border-color:#0191C8">
        <form ng-submit="addNewSupply(supply)">
          <input type="text" name="supplyName" ng-model="supply" style="margin:2px;width:75%;border:none"></input>
        </form>
      </li>
    </ul>
    <button ng-show="expandRide" ng-click="addSupply()" class="panel" style="width:100%;border-color:#000">add supply</button>
  </div>
</li>