<div class="panel panel-default">
  <div class="panel-heading">
    Friends
    <span ng-click="editAttendees = !editAttendees" class="glyphicon glyphicon-pencil pencil-button"></span>
  </div>
  <div class="panel-body details-panel">
    <div ng-hide="editAttendees">
      <div ng-repeat="friend in attendees" class="attendees-list">
        {{friend.firstName}}
      </div>
    </div>
    <div ng-show="editAttendees">
      <form ng-submit="editAttendees = !editAttendees; addAttendee(newAttendee)">
        <div class="attendees-list attendees-removal-list" ng-click="removeAttendee(friend)" ng-mouseover="mouseOverTrue = true" ng-mouseleave="mouseOverTrue = false" ng-repeat="friend in attendees">
          {{mouseOverTrue ? 'X' : friend.firstName}}
        </div>
        <input type="text" name="attendees" placeholder="...add friend" class="panel-input" ng-model="newAttendee"></input>
        <input type="submit" id="submit" value="Update" />
      </form>
    </div>
  </div>
</div>
