<div class="container covey">

  <div class="row">

    <div class="col-xs-2 covey-sidenav">
      <h1>covey</h1>
      <div style="margin-top:50px" ng-class="{'active-nav': isSelected('details'), 'inactive-nav': !isSelected('details')}" ng-click="navbarSwitch('details')">
        Details
      </div>
      <div ng-class="{'active-nav': isSelected('rides'), 'inactive-nav': !isSelected('rides')}" ng-click="navbarSwitch('rides')">
        Rides
      </div>
      <div ng-class="{'active-nav': isSelected('supplies'), 'inactive-nav': !isSelected('supplies')}" ng-click="navbarSwitch('supplies')">
        Supplies
      </div>
    </div>

    <!-- <div hamburger-directive></div> -->
    <div class="col-xs-offset-7 col-xs-3">
      <nav class="navbar">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/#/coveys"><img class="covey-icon" src="styles/assets/quailMini.png"></a></li>
                <li class="dropdown">
                  <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/#/about">About Us</a></li>
                    <li><a href="/api/logout">Logout</a></li>
                  </ul>
                </li>
            </ul>
            </div>
        </div>
      </nav>
    </div>


    <div class="row">
      <div class="col-xs-6">
        <div class="panel panel-default main-covey-panel">
            <div ng-switch on="selection" class="panel-body main-covey-body">
              <div ng-switch-default covey-details></div>
              <div ng-switch-when="rides" rides></div>
              <div ng-switch-when="supplies" supplies></div>
            </div>
          </div>
      </div>
      <div class="col-xs-3">
        <ul class="list-unstyled">
          <div chat></div>
          <div class="panel panel-default" style="height: 22vh;">
            <div class="panel-body">
              <div covey-attendees></div>
            </div>
          </div>
        </ul>
      </div>
    </div>
    
  </div>
</div>
