<div class="container covey">
  <div class="row">

  <div side-nav type="Covey"></div>

  <div ng-class="{'col-sm-7': isExpanded(), 'col-sm-8': !isExpanded()}">
    <div class="panel panel-default main-covey-panel">
      <div ng-switch on="selection" class="panel-body main-covey-body">
        <div ng-switch-default covey-details></div>
        <div ng-switch-when="rides" rides></div>
        <div ng-switch-when="supplies" supplies></div>
        <div ng-switch-when="expenses" expenses></div>
      </div>
    </div>
  </div>
  
  <div class="col-sm-3">
    <ul class="list-unstyled">
      <div class="panel panel-default panel-chat">
        <div class="panel-body">
          <div chat></div>
        </div>
      </div>
      <div class="panel panel-default panel-attendees">
        <div class="panel-body">
          <div covey-attendees></div>
        </div>
      </div>
    </ul>
  </div>
    
  </div>
</div>
