<img ng-show="showPhoto" ng-src="{{details.photoUrl}}" alt="Smiley face" height="200" width="100%">

<div class="row details-header-section">
  <div class="col-sm-offset-1 col-sm-5">
    <h2 class="details-header-title"><b>{{details.name}}</b></h2>
  </div>
  <div class="col-sm-offset-3 col-sm-2">
    <button class="covey-details-edit-btn" ng-click="toggleEdit()">
    Edit&nbsp;<span class="glyphicon glyphicon-pencil"></span>  
  </button>
  </div>
</div>
<div class="row details-body-section" ng-hide="editDetails">
  <div class="col-sm-offset-1 col-sm-5">
    <br>
    <br>
    <p><span class="glyphicon glyphicon-time"></span> From {{formatDate(details.startTime)}} to {{formatDate(details.endTime)}}
    <p><i>{{details.details}}</i></p>
    <button class="btn btn-pineapple" ng-click="addToCalendar()">Add to Google calendar</button>
  </div>
  <div class="col-sm-5">
    <span class="glyphicon glyphicon-map-marker"></span> {{details.location}}
    <br>
    <iframe class="map-tile" frameborder="0" style="border:0"
      src="{{ gMapUrl }}" allowfullscreen>
    </iframe>
    <p>{{details.address}}, {{details.city}}, {{details.state}}</p>
  </div>
</div>

<div class="row details-body-section" ng-show="editDetails">
  <div class="col-sm-offset-1 col-sm-10">
    <form ng-submit="toggleEdit(); updateCovey()">
    <div style="display:block">
      <label>Event Name: </label>
      <input type="text" name="name" class="details-inputs" ng-model="details.name"></input>
    </div>
    <div style="display:block">
      <label>Details: </label>
      <input type="text" name="details" class="details-inputs" ng-model="details.details"></input>
    </div>
    <div style="display:block">
      <label>Blurb</label>
      <input type="text" name="blurb" class="details-inputs" ng-model="details.blurb"></input>
    </div>
    <div style="display:block">
      <label>Location</label>
      <input type="text" name="location" class="details-inputs" ng-model="details.location"></input>
      <label>Address</label>
      <input type="text" name="address" class="details-inputs" ng-model="details.address"></input>
    </div>
    <div style="display:block">
      <label>City</label>
      <input type="text" name="city" class="details-inputs" ng-model="details.city"></input>
      <label>State</label>
      <input type="text" name="state" class="details-inputs" ng-model="details.state"></input>
    </div>
    <div style="display:block">
      <label>Start Time</label>
      <input type="text" name="startTime" class="details-inputs" ng-model="details.startTime"></input>
      <label>End Time</label>
      <input type="text" name="endTime" class="details-inputs" ng-model="details.endTime"></input>
    </div>
    <div style="display:block">
      <label>Photo Url</label>
      <input type="text" name="photoUrl" class="details-inputs" ng-model="details.photoUrl"></input>
    </div>
    <input style="display:none" type="submit" id="submit" value="Update" />
  </form>
  </div>
</div>
