<div ng-controller="profileController">
    <!-- Content displayed on page load -->
    <div class="container" ng-hide="editDetails">
      <!-- Header row -->
      <div class="row">
        <div class="col-sm-12 text-center">
          <h3 class="blue heading-margin">My profile...</h3>
        </div>
      </div>

      <!-- Content -->  
      <div class="row">
        <div class="col-sm-offset-1 col-sm-10 panel profile-panel">   
          <div class="col-sm-4 no-padding-left text-left">
            <img class="profile-photo" ng-show="showPhoto" ng-src="{{photoUrl}}" alt="Smiley face">
          </div>
          <div class="col-sm-7 text-left">
            <div class="profile-title-box">
              <span class="profile-text-name profile-name blue">{{firstName}} {{lastName}}</span>
            </div>
            <div class="profile-text-box">
              <span class="profile-text-details orange">e. </span>
              <input class="profile-text-details-input" ng-model="email" disabled="true"></input>
            </div>
            <div class="profile-text-box">
              <span class="profile-text-details orange">t. </span>
              <input class="profile-text-details-input" ng-model="phoneNumber" disabled="true"></input>
            </div>
          </div>
          <div class="col-sm-1 text-right">
            <button class="profile-glyphicon-pencil profile-edit-btn" ng-click="toggleEdit()">
              <span class="glyphicon glyphicon-pencil"></span>
              <br>
              <span class="save-text">Edit</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Content shows on pencil click -->
    <div class="container" ng-show="editDetails">

      <!-- Header row -->
      <div class="row">
        <div class="col-sm-12 text-center">
          <h3 class="blue heading-margin">My profile...</h3>
        </div>
      </div>

      <!-- Content -->  
      <div class="row">
        <div class="col-sm-offset-1 col-sm-10 panel profile-panel">   
          <div class="col-sm-4 no-padding-left">
            <img class="profile-photo" ng-show="showPhoto" ng-src="{{photoUrl}}" alt="Smiley face">
          </div>
          <div class="col-sm-7 text-left">
            <div class="profile-title-box">
              <span class="profile-text-name profile-name blue">{{firstName}} {{lastName}}</span>
            </div>
            <div class="profile-text-box">
              <span class="profile-text-details grey">e. </span><input class="profile-text-details-input blue bold underline" ng-model="email"></input>
            </div>
            <div class="profile-text-box">
              <span class="profile-text-details grey">t. </span><input class="profile-text-details-input blue bold underline" ng-model="phoneNumber"></input>
            </div>
          </div>
          <div class="col-sm-1 text-right">
            <button class="profile-glyphicon-pencil profile-edit-btn" ng-click="save()">
              <span class="glyphicon glyphicon-pencil"></span><br>
              <span class="save-text">Save</span>
            </button>
          </div>
        </div>
      </div>
    </div>
</div>
